.options{
  display: none;
  position: absolute;
  top: -1px;
  left: -20px;
}
.omnibar{
  margin-bottom: 30px;
}
.itemText{
  display: inline-block;
  padding-left: 10px;
}
.inner-body{
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
}

.item.edit-mode>.check{
  display: none;
}

.item.edit-mode{
  padding: 0;
}

.editfield{
  display: none;
}

.item.edit-mode .editfield > .form-group{
  margin-bottom: -5px;
}

.item.edit-mode>.editfield{
  display: inline-block;
  padding: 4px;
}

.item.edit-mode>.itemText{
  display: none;
}

.item.checked>.itemText{
  text-decoration: line-through;
}

.item:hover>.options{
  display: block;
}
.list-group>.item:hover{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.options>.btn-group-vertical>.btn.btn-xs.btn-default{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
