.options{
  position: absolute;
  top: -23px;
  left: 3px;
}
.omnibar{
  margin-bottom: 30px;
}
.itemText{
  display: inline-block;
  padding-left: 10px;
}
.inner-body{
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
}
